.title {
  height: 60rpx;
  line-height: 60rpx;
  color: #333;
  font-size: 28rpx;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1rpx solid #f7f7f8;
  .more {
    font-size: 24rpx;
    color: #999;
  }
}
.more {
  &::after {
    font-family: 'erabbit' !important;
    content: '\e6c2';
  }
}
.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20rpx 0;
}

.name {
  font-size: 22rpx;
  color: #333;
}
.price {
  font-size: 18rpx;
  color: #cf4444;
}
.number {
  font-size: 24rpx;
}
