.tr-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f8fa;
  position: relative;

  &-nav-bar {
    background-color: #fff;
    flex-shrink: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }

  &-header {
    background-color: #fff;
    flex-shrink: 0;
    border-bottom: 1px solid #f0f0f0;
  }

  &-body {
    flex: 1;
    overflow: auto;
    position: relative;
  }

  &-footer {
    background-color: #fff;
    flex-shrink: 0;
    border-top: 1px solid #f0f0f0;
    position: relative;
  }
}
