.tr-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f8fa;
  position: relative;

  &-nav-bar {
    background-color: #fff;
    flex-shrink: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }

  &-header {
    background-color: #fff;
    flex-shrink: 0;
    border-bottom: 1px solid #f0f0f0;
  }

  &-body {
    flex: 1;
    overflow: auto;
    position: relative;
  }

  &-footer {
    background-color: #fff;
    flex-shrink: 0;
    border-top: 1px solid #f0f0f0;
    position: relative;
  }
}

.custom-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-left: 16px;

  .arrow-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
  }
  /* 标题居中布局 */
  .title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 36rpx;
    color: #282f32;
  }

  /* 胶囊右侧留空区域 */
  .capsule-space {
    position: absolute;
  }
}
