* {
  box-sizing: border-box;
}

page {
  /* flex */
  .flx-column {
    display: flex;
    flex-direction: column;
  }

  .flx-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .flx-end {
    display: flex;
    justify-content: flex-end;
  }

  .flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flx-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flx-justify-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .flx-align-center {
    display: flex;
    align-items: center;
  }

  .flx-align-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* 外边距、内边距全局样式 */
  @for $i from 0 through 100 {
    .mt-#{$i} {
      margin-top: #{$i}rpx !important;
    }

    .mr-#{$i} {
      margin-right: #{$i}rpx !important;
    }

    .mb-#{$i} {
      margin-bottom: #{$i}rpx !important;
    }

    .ml-#{$i} {
      margin-left: #{$i}rpx !important;
    }

    .m-#{$i} {
      margin: #{$i}rpx !important;
    }

    .pt-#{$i} {
      padding-top: #{$i}rpx !important;
    }

    .pr-#{$i} {
      padding-right: #{$i}rpx !important;
    }

    .pb-#{$i} {
      padding-bottom: #{$i}rpx !important;
    }

    .pl-#{$i} {
      padding-left: #{$i}rpx !important;
    }

    .p-#{$i} {
      padding: #{$i}rpx !important;
    }
  }
}

@font-face {
  font-family: 'erabbit';
  src: url('https://at.alicdn.com/t/c/font_4009193_lnbhmo3yos.woff?t=1681201348304') format('woff'),
    url('https://at.alicdn.com/t/c/font_4009193_lnbhmo3yos.ttf?t=1681201348304') format('truetype'),
    url('https://at.alicdn.com/t/c/font_4009193_lnbhmo3yos.svg?t=1681201348304#erabbit') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'erabbit' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: '\e644';
}

.icon-weixin:before {
  content: '\e620';
}

.icon-phone:before {
  content: '\e618';
}

.icon-camera-plus:before {
  content: '\e636';
}

.icon-close:before {
  content: '\e6e1';
}

.icon-help:before {
  content: '\e617';
}

.icon-cart:before {
  content: '\e6d1';
}

.icon-settings:before {
  content: '\e6cf';
}

.icon-clock:before {
  content: '\e609';
}

.icon-delete:before {
  content: '\e6ce';
}

.icon-checked:before {
  content: '\e6cc';
}

.icon-ring:before {
  content: '\e6cd';
}

.icon-locate:before {
  content: '\e6cb';
}

.icon-mark:before {
  content: '\e6ca';
}

.icon-check:before {
  content: '\e6c9';
}

.icon-handset:before {
  content: '\e6c8';
}

.icon-gift:before {
  content: '\e6c7';
}

.icon-currency:before {
  content: '\e6c6';
}

.icon-comment:before {
  content: '\e6c5';
}

.icon-caret:before {
  content: '\e6c3';
}

.icon-right:before {
  content: '\e6c2';
}

.icon-left:before {
  content: '\e6c1';
}

.icon-down:before {
  content: '\e6c0';
}

.icon-up:before {
  content: '\e6bf';
}

.icon-sort:before {
  content: '\e616';
}

.icon-clear:before {
  content: '\e6be';
}

.icon-user:before {
  content: '\e6bb';
}

.icon-scan:before {
  content: '\e6bc';
}

.icon-search:before {
  content: '\e632';
}

.icon-preview:before {
  content: '\e61d';
}

.icon-heart:before {
  content: '\e647';
}

.icon-filter:before {
  content: '\e629';
}

.icon-home:before {
  content: '\e8b9';
}

// 两行省略
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
