:root,
page {
  --nutui-brand-stop-1: green; // 渐变色起
  --nutui-brand-stop-2: green; // 渐变色止
  --nutui-color-primary: green;
  --nutui-color-primary-stop1: green;
  --nutui-color-primary-stop2: green;
}
