:root,
page {
  --primary: green;
  --primary-disabled: rgb(160, 211, 160);

  --nutui-brand-stop-1: var(--primary);
  --nutui-brand-stop-2: var(--primary);
  --nutui-color-primary-stop-1: var(--primary);
  --nutui-color-primary-stop-2: var(--primary);
  --nutui-button-primary-disabled: var(--primary-disabled);
}
