.custom-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-left: 16px;

  .arrow-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
  }
  /* 标题居中布局 */
  .title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 36rpx;
    color: #282f32;
  }

  /* 胶囊右侧留空区域 */
  .capsule-space {
    position: absolute;
  }
}
